elve.avi
/Footage review
/Reviewed nights
/CPTEC data
/Santa*
/__py*
/Tensorflow
/CPTEC*
elve.avi
elve2.avi
/Output
/Matlab/HD*
/Matlab/Videos*
/Matlab/data_mat
/dissertation-env
/__pycache__
Matlab/area_temp demo.zip
Matlab/2019-11-13-1500.avi
BrasilDAT_data
